/* 상세 비교 모달창 */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-self: center;
    align-items: center;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    margin: 0px auto;
    position: absolute;
    left: 450px;
    width: 50%;
    height: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 23px;
    box-shadow: 0px 0px 8px -5px #000;
    opacity: 1;
    border: 3px solid #5b5b5b;
}

.modal-header {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 0;
}

.modal-title {
    font-size: 1.5rem;
    width: 100%;
    height: 10%;
    line-height: 70px;
}

.btn-close {
    position: absolute;
    top: 20px;
    left: 95%;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 8px;
}

.modal-body {
    position: absolute;
    width: 100%;
    height: 91.136%;
    display: inline-flex;
    top: 9%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(184, 200, 223, 0.8); */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background: linear-gradient(-45deg, #9681EB, #A7EDE7); */
    background-color: #5b5b5b;
}

.modal-content {
    width: 96%;
    height: 47%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 15px;
    background-color: #e8e8e8;
}

.modal-content-graph {
    width: 45%;
    border: 1px solid black;
}

.bar_title {
    width: 100%;
    height: 15%;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.7);
}

.container-graph {
    width: 100%;
    height: 85%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.label_gu1,
.label_gu2,
.label_gu3 {
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
    top: 100%;
    line-height: 35px;
}

.conv_graph_wrap,
.cafe_graph_wrap,
.cinema_graph_wrap,
.policeOffice_graph_wrap,
.cctv_graph_wrap {
    position: absolute;
    height: 70%;
    width: 33.3%;
    display: flex;
    justify-self: center;
}

.conv_graph,
.cafe_graph,
.cinema_graph,
.policeOffice_graph,
.cctv_graph {
    position: absolute;
    height: 100%;
    width: 100%;
}

#convStore_graph_gu1,
#cafe_graph_gu1,
#cinema_graph_gu1,
#policeOffice_graph_gu1,
#cctv_graph_gu1 {
    left: 0;
}

#convStore_graph_gu2,
#cafe_graph_gu2,
#cinema_graph_gu2,
#policeOffice_graph_gu2,
#cctv_graph_gu2 {
    left: 33.3%;
}

#convStore_graph_gu3,
#cafe_graph_gu3,
#cinema_graph_gu3,
#policeOffice_graph_gu3,
#cctv_graph_gu3 {
    left: 66.7%;
}

.modal-desc {
    position: absolute;
    width: 95%;
    height: 4%;
    line-height: 200%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
}

/* 파출소 수 */
#policeOffice {
    position: absolute;
    width: 45%;
    height: 37%;
    top: 8%;
    left: 4%;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

/* CCTV 수 */
#cctv {
    position: absolute;
    width: 45%;
    height: 37%;
    top: 8%;
    left: 51%;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

/* 편의점 수 */
#convStore {
    position: absolute;
    width: 30%;
    height: 37%;
    top: 58%;
    left: 4%;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

/* 카페 수 */
#cafe {
    position: absolute;
    width: 30%;
    height: 37%;
    top: 58%;
    left: 35%;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

/* 영화관 수 */
#cinema {
    position: absolute;
    width: 30%;
    height: 37%;
    top: 58%;
    left: 66%;
    background-color: white;
    border: 1px solid rgb(203, 203, 203);
}

/* 상세 비교 모달창 끝 */

/* 모달창 내부 그래프 */
/* 편의점 */
.conv_bar {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 15px;
    height: 150px;
    perspective-origin: center bottom;
    transform: translate(0%) scaleX(2);
    background-color: rgb(123, 184, 198);
    border-radius: 15px;
    transition: height 0.25s;
}

.conv_bar::before {
    position: absolute;
    content: "";
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.conv_bar::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

/* 카페 */
.cafe_bar {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 15px;
    height: 150px;
    perspective-origin: center bottom;
    transform: translate(0%) scaleX(2);
    background-color: #ddd468;
    border-radius: 15px;
    transition: height 0.25s;
}

.cafe_bar::before {
    position: absolute;
    content: "";
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.cafe_bar::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

/* 영화관 */
.cinema_bar {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 15px;
    height: 150px;
    perspective-origin: center bottom;
    transform: translate(0%) scaleX(2);
    background-color: #d75692;
    border-radius: 15px;
    transition: height 0.25s;
}

.cinema_bar::before {
    position: absolute;
    content: "";
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.cinema_bar::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}


/* 파출소 */
.policeOffice_bar {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 15px;
    height: 150px;
    perspective-origin: center bottom;
    transform: translate(0%) scaleX(2);
    background-color: #5c91bd;
    border-radius: 15px;
    transition: height 0.25s;
}

.policeOffice_bar::before {
    position: absolute;
    content: "";
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.policeOffice_bar::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

/* cctv */
.cctv_bar {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 15px;
    height: 150px;
    perspective-origin: center bottom;
    transform: translate(0%) scaleX(2);
    background-color: #5cbd9d;
    border-radius: 15px;
    transition: height 0.25s;
}

.cctv_bar::before {
    position: absolute;
    content: "";
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

.cctv_bar::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

/* 그래프 위 값 */
.graph_value {
    position: absolute;
    left: -25%;
    font-size: 12px;
}