@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
#sidenav    {
    opacity: 0;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    line-height: 10%;
}
section {
    font-family: 'TheJamsil5Bold';
}
.first_background   {
    height: 100vh;
}

#first_text {
    height: 100vh;
    font-size: 7rem;
    opacity: 0;
    transition: 1.5s;
    color: white;
}

.img_section    {
    height: 50vh;
}
.img_section img    {
    width: 80%;
    opacity: 0;
    transition: all 3s;
}

.img_section p  {
    font-size: 4rem;
}
.bg_control {
    transition: 4s;
}

.title  {
    color: black;
}

.img_text   {
    opacity: 0;
    transition: all 7s;
    color: black;
    font-size: 2rem;
}
#menu_text  {
    text-align: center;
}
.card-body {
    text-align: center;
}
.card-title a   {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}
.card-title a:hover {
    color: rgba(0,0,0);
}
