.info {
    width: 200px;
    height: 180px;
}

.info_title {
    text-align: center;
    width: 75%;
    height: 15%;
    margin: 12.5% auto;
    border-radius: 10px;
    font-size: 25px;
    margin: 5px auto;
}

.info_rank {
    text-align: center;
    margin: 5px 5px;
    border-radius: 10px;
}

#info_price_rank {
    margin-bottom: 10px;
}

.info_content {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
}